@{
    ViewBag.Title = "About US";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>

<p style="margin-left:10px">With a mission to empower people to experience the world, CoxBooking.com invests in digital technology that helps take the friction out of travel. At CoxBooking.com, we connect travelers with the world’s largest selection of incredible places to stay – including everything from apartments, vacation homes, and family-run B&Bs, to 5-star luxury resorts, tree houses, and even igloos. The Booking.com website and mobile apps are available in over 40 languages, offer 28,762,910 total reported listings, and cover 152,360 destinations in 228 countries and territories worldwide.</p>
