@{
    ViewBag.Title = "Contact Us";
}
<h2 style="text-align:center">@ViewBag.Title.</h2>

<div style="width:100%">
    <div style="margin-left: 10%">
        <address>
            CoxBooking.com<br />
            203 Shek Mujib Road, Agrabad, Chittagong, Bangladesh<br />
            <abbr title="Phone"></abbr>
            +880123 456 789
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@coxbooking.com">Support@coxbooking.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@coxbooking.com">Marketing@coxbooking.com</a>
        </address>
    </div>
</div>

